

*
{

    margin:0;
    padding:0;
    }
    :root{
    
        --navbar-height:59px;
    }
    /* styling for middle image  */
    .mid{

        margin: 13px 42%;
        display: block;
      
      
     

    }
    .mid img{

        height: 158px;
        margin: 6px 33px;
    }
    /* styling for navigation bar where content is add team and join team  */
    
    .left{

        position: absolute;
        left: 98px;
       
        top: 56px;;
        display: inline-block;
        


    }
    .navbar{

        display:flex;
    }


    .navbar li{

        list-style: none;
        font-size: 1.2em;

    }

    .navbar li a{

        color:white;
        text-decoration: none;
        padding: 4px 23px;
        border-radius: 20px;
        font-weight: bold;
        
    }

    .navbar li a:hover{ 
        color: black;
        background-color: green;
        

    }
     /* styling for right side navigation bar where content is sign in and sign out  */

    .right{

        position: absolute;
        right: 98px;
       
        top: 56px;;
        display: inline-block;
        
        
      
     
     
         }
    .navbar-1{

        display: flex;

    }

    .navbar-1 li{

        list-style: none;
        font-size: 1.2em;
    }
    .navbar-1 li a{ 
        color:white;
        text-decoration: none;
        padding: 4px 43px;
        border-radius: 20px;
        font-weight: bold;


    }

    .navbar-1 li a:hover{ 
        color: black;
        background-color: green;
        

    }

     /* set up for whole navigation bar  */

     .header{


        position: relative;
        margin: -1%;
        
     }

     .header::before{

        content:"";
        position: absolute;
        background-color: black;
        height: 100%;
        width: 100%;
        z-index: -1;
        opacity:0.99;
        


       
    }

    /* home section design  */

    #home{
        
    display: flex;
    
    
    height: 195px;
    justify-content: center;
    align-items: center;
    

    }
    

    #home::before{


        content:"";
        position: absolute;
        background: url('/static/tourshare/images/home.png') no-repeat center center/cover;
        
        height: 728px;
        width: 102%;
        z-index: -1;
        opacity: 0.89;
    }
    .h-home{

        font-size: 4.3em;
        padding: 0px 0px;
        margin:0px 0px -155px 0px;
        color: #ffbd4a;
        font-weight: bolder;
        height: 0px;
        

    }

/*Sign in section form design  */

#create_in{

  

 
  text-align: center;
  justify-content: center;
  
  background-color: #ffbd4a;
  z-index: -1;
  height: 1290px;
  margin-top: 267px;
  
  
  
 
  
  
  
  

  

}




form {
 padding: 30px 30px;
 
}



input[type=text], input[type=password] , input[type=tel] , input[type=email] ,input[type=number]  {
  
  width:46%;
  padding: 12px 20px;
  margin: 5px 0;
  
  display: inline-block;
  
  box-sizing: border-box;
  height: 88px;
  border:2px  solid grey;
  background-color: #e1e1e1;
 
 
 z-index: -1;
 
 
}


input[type=date]{

    width:19.10%;
    padding: 12px 20px;
    margin: 5px 0;
    
    display: inline-block;
    
    box-sizing: border-box;
    height: 88px;
    border:2px  solid grey;
    background-color: #e1e1e1;
    

}

input[type=file]{


    width:19.3%;
    padding: 28px 20px;
    margin: 0px 0px;
    
    display: inline-block;
    
    box-sizing: border-box;
    height: 88px;
    border:2px  solid grey;
    background-color: #e1e1e1;
}

.to{

    padding:0px 45px;
}

#output{



    border: 2px solid black;
    width: 19.2%;
   
    height: 90px;
    margin-top: 4px;
    margin-left: 82px;
}

#output1{



    border: 2px solid black;
    width: 19.2%;
   
    height: 90px;
    margin-top: 4px;
    margin-left: 82px;
}

button {
  background-color:rgb(46,66,98);
  color: white;
  padding: 14px 20px;
  margin: 8px ;
  
  border: none;
  cursor: pointer;
  width: 100%;
}

button:hover {
  opacity: 0.8;
}



.container_1 {
  padding: 0px;
  height: 895px;
  display: inline-block;
  width: 100%;
  
 
 
  
}
.button{
  width:95%;
  height: 88px;
  margin-top: 12px;

}
.create_up{

  margin-top: 71px;
  width: 41%;
  height: 88px;
  margin-left: 157px;

  
}


  
/*footer design  */


.footer-dark {
    padding:50px 0;
    color:#f0f9ff;
    background-color:#282d32;
  }
  
  .footer-dark h3 {
    margin-top:0;
    margin-bottom:12px;
    font-weight:bold;
    font-size:16px;
  }
  
  .footer-dark ul {
    padding:0;
    list-style:none;
    line-height:1.6;
    font-size:14px;
    margin-bottom:0;
  }
  
  .footer-dark ul a {
    color:inherit;
    text-decoration:none;
    opacity:0.6;
  }
  
  .footer-dark ul a:hover {
    opacity:0.8;
  }
  
  @media (max-width:767px) {
    .footer-dark .item:not(.social) {
      text-align:center;
      padding-bottom:20px;
    }
  }
  
  .footer-dark .item.text {
    margin-bottom:36px;
  }
  
  @media (max-width:767px) {
    .footer-dark .item.text {
      margin-bottom:0;
    }
  }
  
  .footer-dark .item.text p {
    opacity:0.6;
    margin-bottom:0;
  }
  
  .footer-dark .item.social {
    text-align:center;
  }
  
  @media (max-width:991px) {
    .footer-dark .item.social {
      text-align:center;
      margin-top:20px;
    }
  }
  
  .footer-dark .item.social > a {
    font-size:20px;
    width:36px;
    height:36px;
    line-height:36px;
    display:inline-block;
    text-align:center;
    border-radius:50%;
    box-shadow:0 0 0 1px rgba(255,255,255,0.4);
    margin:0 8px;
    color:#fff;
    opacity:0.75;
  }
  
  .footer-dark .item.social > a:hover {
    opacity:0.9;
  }
  
  .footer-dark .copyright {
    text-align:center;
    padding-top:24px;
    opacity:0.3;
    font-size:13px;
    margin-bottom:0;
  }