<!DOCTYPE html>

{% load static %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="{% static 'tourshare/css/join.css' %}" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css"
    />
    <link rel="stylesheet" href="assets/css/style.css" />
    <title>Document</title>

    <style>
      th,
      td {
        border: 3px solid yellow;
      }

      .manage {
        margin-left: auto;
        margin-right: auto;

        font-size: 1.5em;
        margin-top: auto;
      }
    </style>
  </head>
  <body>
    <header class="header">
      <!-- mid box for navbar -->

      <div class="mid">
        <img
          src="{% static 'tourshare/images/logo1.png'%}"
          alt="tourshare.com"
        />
      </div>

      <!-- left box for logo -->

      <div class="left">
        <ul class="navbar">
          <li><a href="/tourshare" class="active">Home</a></li>

          <li>
            <a href="/tourshare/createteam" class="active">Create Team</a>
          </li>
          <li><a href="/tourshare/jointeam">Join Team</a></li>
          <li><a href="/tourshare/aboutus" class="active">About Us</a></li>
        </ul>
      </div>

      <!-- Right box for navbar -->

      <div class="right">
        <ul class="navbar-1">
          <li><a href="/tourshare/signin" class="active">Sign In</a></li>
          <li><a href="/tourshare/signup">Sign Up</a></li>
        </ul>
      </div>
    </header>

    <!-- home  section star from here -->

    <section id="home">
      <h1 class="h-home">JOIN WITH YOUR TEAM</h1>
    </section>

    <section id="join_in">
      {% if data %}

      <table class="manage" border="5"
          bgcolor="pink"
          height="500"
          width="1000"
          bordercolor="Green"
          cellspacing="20"
          cellpadding="20"
          align="center" >
        <tr bgcolor="black" >

        <th align="CENTER" ><font color="white">Group Name</font></th>
        <th align="CENTER" ><font color="white">Destination</font></th>
        <th align="CENTER" ><font color="white">Member</font></th>
        <th align="CENTER" ><font color="white">Need Member</font></th>
        <th align="CENTER" ><font color="white">Start date</font></th>
        <th align="CENTER" ><font color="white">End date</font></th>
        <th align="CENTER"><font color="white">Action</font></th>
          
        </tr>

        {% for output in data %}
        <tr>
          <td align="CENTER" >{{output.group_name}}</td>
          <td align="CENTER" >{{output.destination}}</td>
          <td align="CENTER" >{{output.team_member}}</td>
          <td align="CENTER" >{{output.needed_member}}</td>
          <td align="CENTER" >{{output.start_date}}</td>
          <td align="CENTER" >{{output.end_date}}</td>

          <td align="CENTER" >
            <a
              href="/tourshare/checkout"
              type="submit"
              value="click"
              class="action"
              >ADD</a
            >
          </td>
        </tr>
        {%endfor%}
      </table>
      {% else %}
      <h1>no data</h1>
      {% endif %}
    </section>

    <div class="footer-dark">
      <footer>
        <div class="container">
          <div class="row">
            <div class="col-sm-6 col-md-3 item">
              <h3>Services</h3>
              <ul>
                <li><a href="#">Web design</a></li>
                <li><a href="#">Development</a></li>
                <li><a href="#">Hosting</a></li>
              </ul>
            </div>
            <div class="col-sm-6 col-md-3 item">
              <h3>About</h3>
              <ul>
                <li><a href="#">Company</a></li>
                <li><a href="#">Team</a></li>
                <li><a href="#">Careers</a></li>
              </ul>
            </div>
            <div class="col-md-6 item text">
              <h3>Company Name</h3>
              <p>
                Praesent sed lobortis mi. Suspendisse vel placerat ligula.
                Vivamus ac sem lacus. Ut vehicula rhoncus elementum. Etiam quis
                tristique lectus. Aliquam in arcu eget velit pulvinar dictum vel
                in justo.
              </p>
            </div>
            <div class="col item social">
              <a href="#"><i class="icon ion-social-facebook"></i></a
              ><a href="#"><i class="icon ion-social-twitter"></i></a
              ><a href="#"><i class="icon ion-social-snapchat"></i></a
              ><a href="#"><i class="icon ion-social-instagram"></i></a>
            </div>
          </div>
          <p class="copyright">Company Name © 2018</p>
        </div>
      </footer>
    </div>
  </body>
</html>
