<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign In</title>

    <link rel="stylesheet" href="{% static 'tourshare/css/signin.css' %}">
  
   
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
    <link rel="stylesheet" href="assets/css/style.css">
   
    
</head>

<body>



    <!-- navbar section star from here -->

    <header class="header">

        <!-- mid box for navbar -->

        <div class="mid">
            <img src="{% static 'tourshare/images/logo1.png'%}" alt="tourshare.com">
        </div>

        <!-- left box for logo -->

        <div class="left">
            <ul class="navbar">
                <li><a href="/tourshare" class="active">Home</a></li>

                <li><a href="/tourshare/createteam" class="active">Create Team</a></li>
                <li><a href="/tourshare/jointeam">Join Team</a></li>
                <li><a href="/tourshare/aboutus" class="active">About Us</a></li>


            </ul>
        </div>

        <!-- Right box for navbar -->

        <div class="right">
            <ul class="navbar-1">
                <li><a href="/tourshare/signin" class="active">Sign In</a></li>
                <li><a href="/tourshare/signup">Sign Up</a></li>

            </ul>
        </div>
    </header>

    <!-- home  section star from here -->

    <section id="home">


        <h1 class="h-home">SIGN IN/SIGN UP NOW</h1>



    </section>


    <!-- Sign in section  star from here -->
    <section id="sign_in">

        <h1 class="sign_1_in">SIGN IN</h1>

        <div id="form_fist" class="form_1_first">
         {% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}
            <form action="/tourshare/signin/" method="post">{% csrf_token %} 


                <div class="container_1">

                    <input type="text" placeholder="Enter Username" id="uname" name="uname" required>


                    <input type="password" placeholder="Enter Password" id="psw" name="psw" required>

                    <button type="submit" class="button">Login</button>

                    
                </div>
                

            </form>
            
               <button class="sign_up" type="submit"><a href="/tourshare/signup/" class="active">Sign up</a></button>
              
        </div>

</section>


        </form>

        <!-- footer section sytart from here -->
        <div class="footer-dark">
            <footer>
                <div class="container">
                    <div class="row">
                        <div class="col-sm-6 col-md-3 item">
                            <h3>Services</h3>
                            <ul>
                                <li><a href="#">Web design</a></li>
                                <li><a href="#">Development</a></li>
                                <li><a href="#">Hosting</a></li>
                            </ul>
                        </div>
                        <div class="col-sm-6 col-md-3 item">
                            <h3>About</h3>
                            <ul>
                                <li><a href="#">Company</a></li>
                                <li><a href="#">Team</a></li>
                                <li><a href="#">Careers</a></li>
                            </ul>
                        </div>
                        <div class="col-md-6 item text">
                            <h3>Company Name</h3>
                            <p>Praesent sed lobortis mi. Suspendisse vel placerat ligula. Vivamus ac sem lacus. Ut
                                vehicula
                                rhoncus elementum. Etiam quis tristique lectus. Aliquam in arcu eget velit pulvinar
                                dictum
                                vel in justo.</p>
                        </div>
                        <div class="col item social"><a href="#"><i class="icon ion-social-facebook"></i></a><a
                                href="#"><i class="icon ion-social-twitter"></i></a><a href="#"><i
                                    class="icon ion-social-snapchat"></i></a><a href="#"><i
                                    class="icon ion-social-instagram"></i></a></div>
                    </div>
                    <p class="copyright">Company Name © 2018</p>
                </div>
            </footer>
        </div>






</body>

</html>